@using Abp.Authorization.Users
@model InfinitySales.Web.Models.Account.ForgotPasswordViewModel
@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />
    </environment>
}
@section Scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Account/ForgotPassword.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/ForgotPassword.min.js" asp-append-version="true"></script>
    </environment>
}
<div class="card" id="ForgotPasswordArea">
    <div class="body">
        <form id="ForgotPasswordForm" asp-action="ForgotPassword" method="post">
            <h4 class="text-center">@L("﻿ForgotPassword")</h4>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input type="text" class="form-control" name="usernameOrEmailAddress" placeholder="@L("UserNameOrEmail")" required autofocus maxlength="@AbpUserBase.MaxEmailAddressLength">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <button id="ForgotPasswordButton" class="btn btn-block bg-pink waves-effect" type="submit">@L("Request")</button>
                </div>
            </div>

        </form>
    </div>
</div>
